header {
    text-align: center;
}


.quote__source {
    text-align: right;
    margin-top: 0.5rem;
}

.header__info {
    width: 100%;
    position: absolute;
    top: 0;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
}


form {
    margin-top: 1rem;
    text-align: left;
    width: 50%;
    margin:3rem auto;
}


#other-field {
    opacity: 0;
}

/* Show the additional input field when "Something else" checkbox is checked */
#something_else:checked+#other-field {
    opacity: 1;
}

label:has(> #something_else:checked)+#other-field {
    opacity: 1;
}