
body, h1, h2, h3 * {
    font-family: Times Dot;
    font-size: 1.75rem;
}

h1 {
    margin-bottom: 5rem;
}

code {
    /* background: silver; */
    letter-spacing: 0.1em;
    font-family: Times Dot;
    /* border: 1px solid black; */
    background: lightgray;
    display: inline-block;
    max-width: 100%;
    font-size: 1.3rem;
    overflow: hidden;
    overflow-x: auto;
    transform: translateY(0.25rem);   
    padding: 0.2rem 0.2rem 0 0.2rem ;   
    color: rgb(39, 39, 39);   
}

main {
    max-width: 1000px;
    overflow: hidden;
    margin: auto;
    padding: 1rem;
}

section {
    margin-bottom: 5rem;
}

.task {
    background-color: yellow;
}

video, iframe {
    max-width: 80%;
    margin: 3rem auto;
    display: block;
    width: 100%;
    aspect-ratio: 16/9;
}

table {
    border-spacing: 0;
    border-top: 1px solid black;
    border-left: 1px solid black;
    width: 100%;
    font-size: 1.3rem;
}
th, td {
    padding: 0.25rem;
    text-align: center;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    margin: -0.5px;
}
a {
    text-decoration: underline;
    text-decoration-style: dotted;
}
a:hover {
    font-style: italic;
}

nav {
    border: 1px solid black;
    border-radius: 100%;
    aspect-ratio: 1;
    width: fit-content;
    font-size: 1.3rem;
    padding: 3rem;
}

nav ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    position: sticky;
    top: 0;
    height: 0;
}

img {
    display: block;
    margin: auto;
    max-width: 60%;
}
.two {
    max-width: 40%;
}
pre {
    width: fit-content;
    /* background-color: yellow; */
    margin: 0;
}
table {
    border-collapse: collapse;
    border: 1px solid black;
    max-width: 70vw;
}
th,
td {
    border: 1px solid black;
    padding: 1vw;
}
td:has(pre) {
    background-color: yellow;
    text-align: left;
}

ul li {
    list-style-type: disc;
}
li {
    padding-inline: 3vw;
}
li ul li {
    list-style-type: circle;
}
li ul {
    padding-inline: 3vw;
}