body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "times-dot";
  color: rgb(71, 71, 71);
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
  line-height: 1.35;
  overflow-x: hidden;
}

::-moz-selection { /* Code for Firefox */
  color: white;
  background: rgb(71, 71, 71);
}

::selection {
  color: white;
  background: rgb(71, 71, 71);
}

b {
  -webkit-text-stroke: 1px;
}

h1 {
  font-size: 4rem;
  letter-spacing: -0.2rem;
  margin-bottom: 5rem;
  line-height: 1.1;
}

nav {
  position: sticky;
  top: 2rem;
  z-index: 100;
  background: white;
}

nav ul {
  display: flex;
}

#toplink {
  position: fixed;
  bottom: 1vh;
  left: 1rem;
}

.imgflex {
  display: flex;
  flex-direction: row;
  gap: .25rem;
  flex-wrap: wrap;
}

.imgflex img {
  width: auto;
  height: 25vh;
}

details {
  width: 100%;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

main {
  width: 100%;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 25vw;
  margin-right: 25vw;
  overflow: hidden;

}


ul {
  text-align: left;
  margin-top: 1rem;
  margin-bottom: 5rem;
}

li {
  position: relative;
  padding-left: 1.5rem !important;
}

li:before {
  content: "×";
  position: absolute;
  left: 0;
  padding-right: 0.5rem;
  display: inline-block;
  transform: translateY(0rem);
}

code, pre {
  font-size: 1.4rem;
  padding: 0.1rem 1rem;
  background: yellow;
  font-family: "Erika";
  white-space: nowrap;
}


section {
  width: 100%;
  overflow: hidden;
  margin-top: 10rem;
  border-top: 1px solid black;
  padding-top: 15rem;
}


h3 {
  margin-bottom: 0.5rem;
}

a {
  text-decoration: underline;
  text-decoration-thickness: 0.1rem;
  text-underline-offset: 0.15rem;
}

.block {
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  white-space: initial;
  text-align: left;
}

.endimg {
  width: 11rem;
  height: auto;
  margin: 3rem 0;
  display: block;
}


tr {
  position: relative;
}

tr::after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid black;
  display: inline
}

th {
  padding-right: 0.5rem;
}

td {
  text-align: center;
}


.hero {
  margin-top: 0; 
  padding-top: 0; 
  width: 100vw; 
  flex-shrink:0;
  display: flex; 
  align-items: center; 
  background: white; 
  justify-content: center; 
}

.hero__list {
  display: grid; 
  gap: 0; 	
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

option, input {
  font-family: Erika !important;
  color: rgb(120,120,120);
} 

form {
  width: 50%;
  font-size: 1.5rem;
  line-height: 1.35; 
  letter-spacing: -0.01em;
}

h1 {
  font-size: 1.5rem;
  line-height: 1.35; 
  letter-spacing: -0.01em;
  text-align: left;
}

input:focus {
  outline: none;
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none; /* For Safari */
  width: 1.5rem; /* Adjust size */
  height: 1.5rem; /* Adjust size */
  border: 1px solid var(--primary-color);
  border-radius: 50%; /* Makes it a circle */
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 2;
}

input[type="radio"]:checked {
  background-color: var(--primary-color);
}

input[type=text] {
  height: 1.75rem;
  margin-top: -2px;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  width: 100%;
  border-radius: 100rem;
  font-size: 1.5rem;
  padding: 0 0.5rem;
}

input[type=radio] {
  margin:0;
  transform: translateY(0.15rem);
}


#other-field {
  opacity: 0;
  margin-top: 10px;
}

/* Show the additional input field when "Something else" checkbox is checked */
#something_else:checked + #other-field {
  opacity: 1;
}

label:has( > #something_else:checked) + #other-field {
  opacity: 1;
}
