:root {
  --dark-azure: #007979;
  --red: red;
  --moss: #00a15a;
  --navy: navy;
  --font-color: var(--navy);
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Times Dot";
  color: var(--font-color);
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: 5rem 1rem;
  line-height: 1.25;
  font-size: 1.5rem;
  overflow-x: hidden;
}

::-moz-selection { /* Code for Firefox */
  color: white;
  background: var(--font-color);
}

::selection {
  color: white;
  background: var(--font-color);
}

b {
  font-family: "Times Dot bold";
}

h1 {
  text-align: left;
  letter-spacing: -0.02em;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

h3 {
  margin-bottom: 0.5rem;
}

a {
  text-decoration: underline;
  text-decoration-thickness: 0.1rem;
  text-underline-offset: 0.15rem;
  color: var(--font-color);
}

nav {
  position: sticky;
  top: 2rem;
  z-index: 100;
  background: white;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding-left: 0;
}

nav ul li {
  list-style-type: none;
  padding-left: 0;
  padding: 0 1rem;
}

details {
  width: 100%;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 40rem;
}

main {
  width: 100%;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 40rem;
  margin: auto;
  overflow: hidden;
}

ul {
  text-align: left;
  margin-top: 1rem;
  list-style-type: disc;
  padding-left: 1.5rem;
}

ul, ul li {
  list-style-type: disc;
}

li {
  position: relative;
  display: list-item;
  padding-left: 0.5rem !important;
}

li ul li {
  list-style-type: circle;
}

li > ul {
  margin-top: 0;
  margin-bottom: 0;
}

code, pre {
  font-size: 1.4rem;
  padding: 0.1rem 1rem;
  background: yellow;
  font-family: "Erika";
  white-space: nowrap;
}

section {
  width: 100%;
  overflow: hidden;
  margin-top: 8rem;
  border-top: 2px dotted var(--font-color);
  padding-top: 8rem;
}

tr {
  position: relative;
}

tr::after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid black;
  display: inline
}

th {
  padding-right: 0.5rem;
}

td {
  text-align: center;
}

.hero {
  margin-top: 0; 
  padding-top: 0; 
  width: 100vw; 
  flex-shrink:0;
  display: flex; 
  align-items: center; 
  background: white; 
  justify-content: center; 
}

.hero__list {
  display: grid; 
  gap: 0; 	
  grid-template-columns: repeat(2, minmax(0, 1fr));
}


