/* 
* Resetting CSS 
*/

html,
body {
    z-index: 1;
    padding: 0;
    margin: 0;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-family: sans-serif;
    font-size: 25px;
    scroll-behavior: smooth;
}

a,
button,
input,
label {
    cursor: pointer
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

h1, h2, h3 {
    font-weight: normal;
}

/* 
* Basic Styling 
*/


/* Content width */
header, main, footer {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

@font-face {
    font-family: "Times Dot";
    font-style: normal;
    font-weight: normal;
    src: url("../assets/fonts/TimesDotRom.otf") format("opentype");
}

body {
    font-family: "Times Dot", serif; /* Custom font */
    color: blueviolet; /* Custom text color */
    background-color: azure; /* Custom background color */
}

/* Centered headline */
h1 {
    text-align: center;
}

/* Horizontal menu */
nav ul {
    display: flex;
    justify-content: center;
    gap: 25px;
}

/* Horizontal lines and spacing */
main {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

section {
    padding-top: 50px;
    padding-bottom: 50px;
}

img, video, audio {
    width: 100%;
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* Styles all elements with class="subtitle" */
.subtitle {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
}

